* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header-main {
  min-width: 100%;
  min-height: 5rem;
  background-color: yellow;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6rem;
}
